<launch>
  <!-- This launch file is used to display the robot created by the balance bot xacro file -->

  <!-- load the urdf with xacro file-->
  <param name="robot_description" command="xacro '$(find visualization)/urdf/balance_bot.urdf.xacro'"/>

  <!-- The robot_state_publisher reads the urdf from /robot_description parameter
       and listens to joint information on the /joint_states topic -->
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"/>

  <!-- Default: launch joint state publisher with gui -->
  <arg name="use_gui" default="True" doc="(Default: True) Launch the joint_state_publisher gui to publish joint angles"/>

  <!-- The joint state publisher will be launched with a gui -->
  <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" if="$(eval use_gui==True)">
    <param name="use_gui" value="$(arg use_gui)" />
  </node>

  <!-- Launch rviz as a required node -->
  <arg name="rviz_config" default="-d $(find visualization)/rviz/default.rviz" doc="The file path for the desired rviz config"/>
  <node name="rviz" pkg="rviz" type="rviz" required="true" args="$(arg rviz_config)"/>
</launch>
